<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <type name="Brandbassador\Plugin\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="Brandbassador\Plugin\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">BB</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">Brandbassador\Plugin\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
    <preference for="Magento\Checkout\Block\Onepage\Success" type="Brandbassador\Plugin\Block\Checkout\Success"/>
</config>